body{
    background-color: rgb(228, 226, 226);
}

.container{
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 0 auto;
    width: 80%;
}

header{
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

header img{
    height: auto;
    width: 180px;
}

header nav a{
    color: grey;
    display: block;
    padding: 0.5rem;
    padding-bottom: 0;
    text-decoration: none;
}

header nav a:last-child {
    color: rgb(209, 49, 124);
}

header nav a:hover{
    color: blue;
}

@media only screen and (min-width:768px){

header{
    text-align: right;
}

header img{
    float: left;
    width: 120px;
}

header nav a{
    display: inline-block;
    padding-right: 0.5rem;
}